In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env
# import our own acquire module
import acquire as acq
from sklearn.model_selection import train_test_split

In [23]:
# Using the Iris Data:

# Use the function defined in acquire.py to load the iris data.

# Drop the species_id and measurement_id columns.


# transformations above applied.


SQL_query = '''select * from measurements
join species using(species_id);
;'''    
url= f'mysql+pymysql://{env.username}:{env.password}@{env.hostname}/iris_db'
filename = "titanic.csv"
directory = '/Users/divante/codeup-data-science/classification_exercises'

iris_df = acq.get_iris_data()
# iris_df = iris_df.drop(columns= ['species_id','measurement_id'])
iris_df

TypeError: get_iris_data() missing 3 required positional arguments: 'SQL_query', 'directory', and 'url'

In [ ]:
# Rename the species_name column to just species.



# Create dummy variables of the species name and 
# concatenate onto the iris dataframe. (This is for practice, 
# we don't always have to encode the target, 
# but if we used species as a feature, we would need to encode it).

# Create a function named prep_iris that accepts the untransformed 
# iris data, and returns the data with the