# Tidy Data

## Exercises

#### Do your work for this exercise in a jupyter notebook or python script named tidy_data. Save this work in your classification-exercises repo. Add, commit, and push your changes.

##### 1. Attendance Data

Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

You should end up with something like this:


    name
    Billy    0.5250
    Jane     0.6875
    John     0.9125
    Sally    0.7625
    Name: grade, dtype: float64

In [26]:
import pandas as pd
import numpy as np
type(np.nan)

float

In [23]:
attendance_data = pd.read_csv('attendance.csv')
the_columns_list = attendance_data['Unnamed: 0']

attendance_data = attendance_data.drop(columns ='Unnamed: 0')
attendance_data = attendance_data.T
attendance_data = attendance_data.rename(columns ={0:the_columns_list[0], 1:the_columns_list[1],
                                                  2:the_columns_list[2], 3:the_columns_list[3]})

attendance_data

       Sally Jane Billy John
1/1/18     P    A     A    P
1/2/18     T    P     T    T
1/3/18     T    T     A    H
1/4/18     H    T     A    P
1/5/18     P    T     H    P
1/6/18     A    T     T    T
1/7/18     T    A     P    P
1/8/18     T    T     T    P

##### 2. Coffee Levels

2a. Read the coffee_levels table.

In [4]:


coffee_levels_data = pd.read_csv('coffee_levels.csv')
coffee_levels_data

    hour coffee_carafe  coffee_amount
0      8             x       0.816164
1      9             x       0.451018
2     10             x       0.843279
3     11             x       0.335533
4     12             x       0.898291
5     13             x       0.310711
6     14             x       0.507288
7     15             x       0.215043
8     16             x       0.183891
9     17             x       0.391560
10     8             y       0.189297
11     9             y       0.521502
12    10             y       0.023163
13    11             y       0.235529
14    12             y       0.017009
15    13             y       0.997464
16    14             y       0.058361
17    15             y       0.144644
18    16             y       0.544676
19    17             y       0.594126
20     8             z       0.999264
21     9             z       0.915990
22    10             z       0.144928
23    11             z       0.311495
24    12             z       0.771947
25    13             z       0.398520
26    14             z       0.864464
27    15             z       0.436364
28    16             z       0.280621
29    17             z       0.436677

2b. Transform the data so that each carafe is in it's own column.

2c. Is this the best shape for the data?

###### 3. Cake Recipes

3a. Read the cake_recipes table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

3b. Tidy the data as necessary.

3c. Which recipe, on average, is the best? **recipe b**

3d. Which oven temperature, on average, produces the best results? **275**

3e. Which combination of recipe, rack position, and temperature gives the best result? **recipe b, bottom rack, 300 degrees**

**Bonus:** explore the other tables in the tidy_data database and reshape them as necessary so that they are in a tidy format.